//text-font-size
$text-fz-xs: 12px;
$text-fz-sm: 14px;
$text-fz-md: 16px;
$text-fz-xl: 18px;
$text-fz-2xl: 20px;
$text-fz-2xxl: 24px;
$text-fz-3xl: 30px;
$text-fz-4xl: 40px;
$text-fz-5xl: 50px;
$text-fz-6xl: 60px;
//text-font-weigth
$text-fw-light: 300;
$text-fw-regular: 400;
$text-fw-semibold: 600;
$text-fw-bold: 700;
//text-color:
$text-color-primary: #000000;
$text-color-2nd: #cbc9c9;
$text-color-3nd: #ffffff;
$text-color-4th: #1ed90e;
$text-color-5th: #fc0303;
$text-color-6th: #140101;
$text-color-7th: #1e1d1d;
$text-color-8th: #fff8f8;
$text-color-9th: #FFFCFC;
$text-color-10th: #00000099;
//background-color
$bg-primary: #f5f5f5;
$bg-2nd: #000000;
$bg-3nd: #f6b653;
$bg-4th: #f8f8f8;
$bg-5th: #ae18e2;
$bg-6th: #e1b067;
$bg-7th: #dedddc;
$bg-8th: #cccccc;
$bg-9th: #9DE167;
$bg-10th: #6200ee;
$bg-11th: #eb5757;
$bg-12th: #f2994a;
$bg-13th: #d9d9d9;
//
$XS: 576px;
$SM: 768px;
$MD: 992px;
$XL: 1200px;