@import '../Themes/mixin';
@import '../Themes/variable';

.detail-m {
    padding-top: 50px;

    .product-cart-m {

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img-m {
                background-color: $bg-4th;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .item-info-m {
                width: 60%;

                .name-m {
                    @include text ($text-fz-md, $text-fw-light, $text-color-5th);
                }

                .des-m {
                    @include text ($text-fz-sm, $text-fw-light, $text-color-6th);
                }

                .product-size-m {
                    h4 {
                        margin-bottom: 10px;
                        @include text ($text-fz-2xl, $text-fw-semibold, $text-color-4th)
                    }

                    .size-m {
                        span {
                            cursor: pointer;
                            background-color: $bg-8th;
                            padding: 1px;
                            margin-right: 5px;
                            @include text ($text-fz-md, $text-fw-bold, $text-color-7th);

                            // margin-bottom: 20px;
                            &:hover {
                                background-color: $bg-primary;
                                transition: all 0.3s;
                            }

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }

                .cost-m {
                    margin: 10px 0;
                    @include text ($text-fz-2xl, $text-fw-bold, $text-color-5th);
                }

                .plus-minus-m {
                    margin-bottom: 30px;

                    .plus-m {
                        cursor: pointer;
                        display: inline-block;
                        font-size: 16px;
                        color: white;
                        padding: 8px 12px;
                        line-height: 1;
                        background-image: linear-gradient(#6181f3, #7c97f5);

                        &:hover {
                            background-color: #d017ee;
                        }
                    }

                    .quantity-m {
                        @include text ($text-fz-2xl, $text-fw-bold, $text-color-5th);
                        margin: 0 10px;

                    }

                    .minus-m {
                        cursor: pointer;
                        display: inline-block;
                        font-size: 16px;
                        color: white;
                        padding: 8px 12px;
                        line-height: 1;
                        background-image: linear-gradient(#6181f3, #7c97f5);

                        &:hover {
                            background-color: #d017ee;
                        }
                    }
                }

                .btn-addtocart-m {
                    font-size: $text-fz-md ;
                    font-weight: $text-fw-regular ;
                    color: $text-color-8th;
                    background-image: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
                    padding: 8px 15px;
                    border: none;
                    border-radius: 10px;
                    opacity: 1;

                    &:hover {
                        color: yellow;
                        background-image: linear-gradient(#6181f3, #7c97f5);
                        border: none;
                        transition: all 0.5s;
                    }
                }
            }
        }

    }
}

.product-relate-m {
    padding-top: 50px;

    h3 {
        text-align: center;
        @include text($text-fz-3xl, $text-fw-regular, $text-color-primary);
    }

    .container {
        .product-item-m {
            background-color: $bg-primary;
            display: flex;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            margin-bottom: 20px;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            .img-m {
                display: block;

                img {
                    width: 100%;
                }
            }

            .cart-info-m {
                padding: 10px;

                .name-des-m {
                    margin-bottom: 10px;

                    .name-m {
                        @include text ($text-fz-md, $text-fw-light, $text-color-5th);
                    }

                    .des-m {
                        @include text ($text-fz-md, $text-fw-light, $text-color-6th);
                        margin-bottom: 4px;
                    }

                    .cost-m {
                        @include text ($text-fz-2xxl, $text-fw-semibold, $text-color-4th);

                    }
                }

                .view-detail-m {
                    @include button($text-fz-sm, $text-fw-light, $text-color-8th, $bg-9th, 6px 10px, none, 0, $text-color-3nd, $bg-3nd, none);
                    text-decoration: none;
                    transition: all 0.3s;
                    border-radius: 5px;
                }
            }
        }
    }
}