@import '../Themes/mixin';
@import '../Themes/variable';

.register-form {
    padding: 120px 0;

    .title-register {
        @include text($text-fz-4xl, $text-fw-regular, $text-color-primary);

    }

    .row {
        .col-6 {
            .ant-form-item {
                .ant-form-item-row {
                    flex-direction: column;

                    .ant-form-item-label {
                        text-align: left;

                    }

                    .ant-form-item-control {

                        .ant-form-item-control-input {

                            .ant-form-item-control-input-content {
                                .ant-input {
                                    padding: 10px;
                                    width: 200%;
                                    background: rgba(33, 33, 33, 0.08);
                                    color: rgba(0, 0, 0, 0.87);
                                    outline: none;
                                }

                                .ant-input-password {
                                    padding: 0;
                                    width: 200%;
                                    background: rgba(33, 33, 33, 0.08);
                                    color: rgba(0, 0, 0, 0.87);
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 24px;
                                }
                            }
                        }


                    }
                }

                .ant-form-item-label>label {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;

                }

                .button-submit {
                    padding: 10px 20px;

                    .btn-submit {}
                }
            }
        }
    }
}