@import '../Component/reset';
@import '../Themes/mixin';
@import '../Themes/variable';

.search-form{
    padding: 120px 0;
    .search-bar {
        margin-top: 68px;
        padding: 0;
        .form-group {
          p {
            margin-left: 50px;
            margin-bottom: 5px;
          }
          input {
            margin-left: 44px;
            width: 443px;
            height: 54px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.15px;
            line-height: 24px;
            padding-left: 14px;
            background: rgba(33, 33, 33, 0.08);
            border-radius: 4px 4px 0px 0px;
            border: none;
            &:focus {
              outline: none;
            }
          }
          button {
            margin-left: 37px;
            padding: 16px 34px 16px 27px;
            background-color: #6200ee;
            color: #fff;
            border: none;
            border-radius: 50px;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
              0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          }
        }
      }
      .search-result {
        margin-top: 44px;
        .title {
          height: 74px;
          background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
          h2 {
            color: #fff;
            padding: 12px 0 14px 29px;
            font-weight: 400;
            font-size: 40px;
            line-height: 48.41px;
          }
        }
        .sort {
          margin-top: 27px;
          margin-left: 98px;
          p {
            margin-left: 6.77px;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.6);
          }
          button {
            display: block;
            width: 443px;
            border: none;
            text-align: left;
            padding: 16px 12px 14px 14px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
          #decrease {
            margin-bottom: 4px;
            position: relative;
            .arrow-down {
              position: absolute;
              top: 19px;
              left: 387px;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 20px solid white;
            }
          }
        }
        .result {
          margin: 44px 48px 0 97px;
          .row {
            margin-bottom: 144px;
            .col-3 {
              margin-bottom: 50px;
              margin-right: (87/1280 * 100%);
              .card {
                width: 334px;
                position: relative;
                .product-image {
                  width: 210px;
                  align-self: center;
                  padding: 45px 0 18px;
                }
                .heart {
                  width: 41px;
                  position: absolute;
                  top: 30px;
                  right: 26px;
                }
              }
            }
            .card-body {
              margin-left: 23px;
              padding: 0;
              h1 {
                font-weight: 300;
                font-size: 24px;
                margin-bottom: 8px;
              }
              p {
                margin-bottom: 13px;
              }
            }
            .card-footer {
              padding: 0;
              height: 64px;
              a {
                font-size: 24px;
                font-weight: 400;
                line-height: 29.05px;
                color: #000;
                display: inline-block;
                text-align: center;
              }
              .buy {
                width: calc(174 / 334 * 100%);
                padding: 17px 27px 18px 39px;
                background-color: #9de167;
              }
              .price {
                background-color: #dedddc;
                width: calc(160 / 334 * 100%);
                padding: 17px 0 18px;
              }
            }
          }
        }
      }
}